.menu-items {
  margin-top: 20px;
}

.menu-items li {
  display: inline;
  padding-left: 13px;
}

.custom-modal {
  width: 400px;
  padding: 1em;
  position: absolute;
  border-radius: 10px;
  height: 400px;
  top: 60px;
  left: 30%;
  background-color: aqua;
}

.user {
  background-color: red;
  padding: 1em;
  color: #fff;
}

.admin {
  background-color: green;
  padding: 1em;
  color: #fff;
}

.product-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: crimson;

  color: white;
}